<div class="container" id="vmEle">
    <div class="form-group has-validation">
        <label for="areaName">地區:</label>
        <input type="text" id="areaName" name="areaName" maxlength="3" required class="form-control"
        placeholder="例: 大安區" v-model="areaName"/>
        <div class="invalid-feedback">此欄位必填且不超過3字</div>
    </div>
    <button class="btn btn-primary" v-on:click="ubikeQry">查詢</button>
    <div>
        <table class="table table-light table-hover">
            <thead class="table-success">
                <tr>
                    <td>站點名稱</td>
                    <td>可借車位數</td>
                    <td>可還空位數</td>
                    <td>時間</td>
                    <td>地址</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in ubikeData">
                    <td>{{item.sna}}</td>
                    <td>{{item.sbi}}</td>
                    <td>{{item.bemp}}</td>
                    <td>{{item.mday}}</td>
                    <td>{{item.ar}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
var vm = new Vue({
    data: {
        areaName: "",
        ubikeData: [],
    },
    methods: {
        ubikeQry: function() {
            var self = this;
            console.log(self.areaName);
            var urlString = 'https://localhost:5001/api/ubike/ubike/qry/' + this.areaName + '/rawdata';
            axios.get(urlString)
                .then(res => {
                    console.log(res)
                    //判斷Http status code 200 取出資料
                    var xhr = res.request; //XMLHttpRequest                    
                    if (res.status == 200 && xhr.readyState == 4) {
                        this.ubikeData = res.data; //取出陣列資料 給Vue
                    }
                })
                //http status 4xx or 5xx
                .catch(err => {
                    console.log(err);
                })
        }
    },
});
vm.$mount('#vmEle');
</script>